.home-logo__img {
  display: inline-block;
  height: 2rem;
  margin: .25rem;
}
.home-logo {
  color: var(--color-dark);

}
@media (prefers-color-scheme: dark) {
  .home-logo__img {
    filter: invert(1);
  }
}
