.panel {
  background-color: var(--color-content-background);
  border: 1px solid var(--color-outline);
  border-top-width: .25rem;
  border-radius: .25rem .25rem 0 0;
  box-shadow: var(--shadow-level-1);
  margin: 1rem 0;
  padding: 1rem;
}

.panel + .panel:not(.panel--detached) {
  margin-top: -1rem;
  border-top-width: 0;
  border-radius: 0;
}

.panel--default {
  border-top-color: var(--color-primary-3);
}
