.panel {
  background-color: var(--color-content-background);
  border: 1px solid var(--color-control-outline);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
  margin: 1rem 0;
  padding: 1rem;
}

.panel + .panel {
  margin-top: -1rem;
  border-top-width: 0;
}
