.panel {
  background-color: var(--color-background);
  border: var(--space-1) solid var(--color-outline);
  border-radius: var(--space-2) var(--space-2) 0 0;
  border-top-width: var(--space-3);
  box-shadow: var(--shadow-level-1);
  margin: var(--space-default-gap) 0;
  padding: var(--space-default-gap);
}

.panel + .panel:not(.panel--detached) {
  margin-top: calc(-1 * var(--space-default-gap));
  border-top-width: 0;
  border-radius: 0;
}

.panel--primary {
  border-top-color: var(--color-primary-3);
}

.panel--warning {
  border-top-color: var(--color-warning-dark);
  color: var(--color-warning-text);
}

.panel--danger {
  border-top-color: var(--color-danger);
}

.panel > .o-table {
  margin: 0 calc(-1 * var(--space-default-gap));
  width: calc(100% + 2 * var(--space-default-gap));
}
