.form-field {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  overflow: hidden;
}

.form-field__label {
  color: var(--color-primary-3);
  font-weight: bold;
  margin-bottom: .5rem;
  width: 100%;
}

.form-field__help {
  color: var(--color-info-dark);
  display: block;
  line-height: initial;
  margin-top: .25rem;
  width: 100%;
}

.form-field input {
  display: block;
  flex-grow: 1;
}
