.form-field {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  --form-field--bool-size: 1rem;
}

.form-field + .form-field {
  margin-top: var(--space-7);
}

.form-field--group {
  flex-direction: column;
}

.form-field--group > .form-field + .form-field{
  margin-top: var(--space-6);
}

.form-field--group > .form-field__label + p,
.form-field--group > p:first-child {
  margin-top: 0;
}

.form-field__label {
  /* color: var(--color-primary-3); */
  font-weight: bold;
  margin-bottom: var(--space-4);
  width: 100%;
}

.form-field__help {
  color: var(--color-info-dark);
  display: block;
  line-height: initial;
  margin-top: var(--space-3);
  width: 100%;
}

.form-field input {
  display: block;
  flex-grow: 1;
}

.form-field input[type="checkbox"],
.form-field input[type="radio"] {
  display: inline-block;
  flex-grow: 0;
  height: var(--form-field--bool-size);
  margin-right: var(--space-4);
  width: var(--form-field--bool-size);
}

.form-field input[type="checkbox"] ~ .form-field,
.form-field input[type="radio"] ~ .form-field,
.form-field input[type="checkbox"] ~ .form-field__help,
.form-field input[type="radio"] ~ .form-field__help {
  margin-left: calc(var(--form-field--bool-size) + var(--space-4));
}

.form-field input[type="checkbox"] ~ .form-field,
.form-field input[type="radio"] ~ .form-field {
  margin-bottom: var(--space-5);
  margin-top: var(--space-5);
}
