.form-field {
  margin-bottom: 2.5rem;
  overflow: hidden;
}

.form-field__label {
  color: var(--color-brand-contrast);
  font-weight: 700;
  margin-bottom: .5rem;
}

.form-field__help {
  color: var(--color-warning-text);
  display: block;
  margin-top: .25rem;
}

.form-field input {
  display: block;
  width: 100%;
}
