.form-field__choice-option {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-field__choice-option__help {
  color: var(--color-info-dark);
  display: block;
  line-height: initial;
  margin-top: .25rem;
}

.form-field__choice-option > label {
  display: flex;
  margin-bottom: var(--space-3);
}


.form-field__choice-option > label > input[type='radio'] {
  flex: 0 1 1em;
  display: block;
  margin: 0 var(--space-4) 0 var(--space-3);
}
