.app-summary {
  display: flex;
  height: 6rem;
  justify-content: flex-start;
}

.app-summary a {
  color: inherit;
}

.app-summary__title {
  font-weight: 700;
  overflow: hidden;
  max-height: 2.375em;
}

.app-summary__tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 6rem;
  width: 20vw;
}

.app-summary__tile:first-child {
  width: 25vw;
}

.app-summary__tile {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
}

.app-summary__tile + .app-summary__tile {
  background-color: rgba(255, 255, 255, 0.5);
}

.app-summary__tile + .app-summary__tile + .app-summary__tile {
  background-color: rgba(255, 255, 255, 0.25);
}

.app-summary--success,
.app-summary--unknown {
  background-color: rgb(213, 234, 244);
}

.app-summary--building {
  background-color: rgba(0, 112, 121, 1);
}

.app-summary--failed {
  background-color: rgb(251, 229, 213);
  color: #7d0023;
}

.app-summary__components {
  margin-top: 1rem;
}

.app-summary__component {
  position: relative;
}

.app-summary__component-link {
  background-image: linear-gradient(to left, #fff, #fff 2em, rgba(255, 255, 255, 0) 3rem);
  bottom: -.25em;
  opacity: 0;
  padding: .25em .5em;
  position: absolute;
  right: -.25em;
  text-align: right;
  transition: opacity var(--duration-quick);
  width: 3em;
}

.app-summary__component-link:focus,
.app-summary__component:hover .app-summary__component-link {
  opacity: 1;
}
