.app-summary {
  display: flex;
  height: 6rem;
  justify-content: flex-start;
}

.app-summary a {
  color: inherit;
}

.app-summary__title {
  font-weight: 700;
  overflow: hidden;
  max-height: 2.375em;
}

.app-summary__tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 6rem;
  width: 20vw;
}

.app-summary__tile:first-child {
  width: 25vw;
}

.app-summary__tile {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
}

.app-summary__tile + .app-summary__tile {
  background-color: rgba(255, 255, 255, 0.5);
}

.app-summary__tile + .app-summary__tile + .app-summary__tile {
  background-color: rgba(255, 255, 255, 0.25);
}

.app-summary--success,
.app-summary--unknown {
  background-color: rgb(213, 234, 244);
}

.app-summary--building {
  background-color: rgba(0, 112, 121, 1);
}

.app-summary--failed {
  background-color: rgb(251, 229, 213);
  color: #7d0023;
}


/* TODO: cleanup below */

.app-summary__environment-link {
  color: rgb(0, 0, 0);
}

.component-list {
  position: relative;
  width: 200px;
}

.component-list__element {
  height: 20px;
}

.component-list__name {
  text-align: center;
  font-family: var(--heading-font-family);
  margin: 0;
}

.component-list__link {
  position: relative;
  z-index: 1000;
  color: rgb(0, 0, 0);
  right: 0rem;
  padding-left: 0rem;
  bottom: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
  --transparent: 1;
}

.component-list__link:focus,
.component-list__link:hover,
.component-list__name:hover + .component-list__link {
  opacity: 1;
}
