.global-top-nav {
  grid-template-columns: auto 1fr;
  grid-column-gap: 0;
  padding: 8px;
  border-bottom: 2px solid var(--eds_ui_background__light);
}
.global-top-nav a:focus {
  text-decoration: none;
}

.global-top-nav .home {
  grid-gap: 0;
  margin: auto;
  margin-left: 0;
}
.global-top-nav .nav-links {
  background-color: var(--eds_ui_background__default);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 64px;
  left: -100%;
  width: 100%;
  height: calc(100vh - var(--layout-top-nav-height));
  transition: all 0.2s ease;
  z-index: var(--stacking-global-overlay);
}
.global-top-nav .nav-links.active {
  left: 0;
  transition: all 0.2s ease;
}

.global-top-nav .nav-links > button {
  height: auto;
  padding: 0;
  overflow-x: initial;
  color: var(--eds_text__static_icons__tertiary);
}
.global-top-nav .nav-links > button.active {
  border-color: var(--eds_interactive_primary__resting);
}
.global-top-nav .nav-links > button a {
  width: 100%;
  height: var(--eds_shape_icon_button_min_height);
}

.styled_toaster > div > .Toastify__toast-icon > svg[type="info"] {
  fill: var(--eds_interactive_primary__resting);
}
.styled_toaster > div > .Toastify__toast-icon > svg[type="error"] {
  fill: var(--eds_interactive_danger__text);
}
.styled_toaster > div > .Toastify__toast-icon > svg[type="warning"] {
  fill: var(--eds_interactive_warning__text);
}
.styled_toaster > div > .Toastify__toast-icon > svg[type="success"] {
  fill: var(--eds_interactive_success__text);
}
.styled_toaster > .Toastify__progress-bar--info {
  background: var(--eds_interactive_primary__resting);
}
.styled_toaster > .Toastify__progress-bar--error {
  background: var(--eds_interactive_danger__text);
}
.styled_toaster > .Toastify__progress-bar--warning {
  background: var(--eds_interactive_warning__text);
}
.styled_toaster > .Toastify__progress-bar--success {
  background: var(--eds_interactive_success__text);
}

@media (min-width: 50rem) {
  .global-top-nav .mobile-menu {
    display: none;
  }
  .global-top-nav {
    grid-template-columns: 1fr auto 1fr;
  }
  .global-top-nav .nav-links {
    display: grid;
    justify-content: center;
    top: auto;
    left: auto;
    position: relative;
    height: auto;
    width: auto;
  }
  .global-top-nav .nav-links a {
    padding: var(--eds_spacing_medium);
    padding-bottom: var(--eds_spacing_small);
  }
  .global-top-nav .nav-icon-links > * {
    margin-left: var(--eds_spacing_large);
  }
}
