.o-layout-main .global-top-nav {
  grid-template-columns: 1fr auto 1fr;
  padding: 8px;
  border-bottom: 2px solid var(--eds_ui_background__light);
}
.o-layout-main .global-top-nav a:focus {
  text-decoration: none;
}
.global-top-nav .nav-icon-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  justify-self: right;
}
