.o-layout-main .global-top-nav {
  grid-template-columns: 1fr auto 1fr;
  padding: 8px;
}

.global-top-nav .nav-icon-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}
