.o-layout-main .global-top-nav {
  grid-template-columns: auto 1fr;
  grid-column-gap: 0;
  padding: 8px;
  border-bottom: 2px solid var(--eds_ui_background__light);
}
.global-top-nav .home {
  grid-gap: 0;
}
.home-logo {
  font-family: Equinor;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.mobile-menu {
  justify-self: right;
}
.o-layout-main .global-top-nav a:focus {
  text-decoration: none;
}
.global-top-nav .nav-links {
  background-color: var(--eds_ui_background__default);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 64px;
  left: -100%;
  width: 100%;
  height: calc(100vh - var(--layout-top-nav-height));
  transition: all 0.2s ease;
  z-index: var(--stacking-global-overlay);
}

.global-top-nav .nav-links button {
  height: auto;
  padding: 0;
  overflow-x: initial;
  color: var(--eds_text__static_icons__tertiary,rgba(111,111,111,1));
  border-bottom: 2px solid var(--eds_ui_background__medium,rgba(220,220,220,1));
}
.global-top-nav .nav-links button.active {
  color: var(--eds_interactive_primary__resting,rgba(0,112,121,1));
  border-bottom: 2px solid var(--eds_interactive_primary__resting,rgba(0,112,121,1));
}

.global-top-nav .nav-links button a {
  width: 100%;
  height: var(--eds_shape_icon_button_min_height);
}

.global-top-nav .nav-links .icon-links a {
  height: 40px;
  width: 40px;
}

.global-top-nav .nav-links.active {
  left: 0;
  transition: all 0.2s ease;
}

.global-top-nav .nav-icon-links {
  display: none;
  top: 0;
}

@media (min-width: 50rem) {
  .global-top-nav .mobile-menu, .mobile-icon-links {
    display: none;
  }
  .o-layout-main .global-top-nav {
    grid-template-columns: auto 1fr auto;
  }
  .global-top-nav .nav-links {
    display: grid;
    justify-content: center;
    top: auto;
    left: auto;
    position: relative;
    height: auto;
    width: auto;
  }
  .global-top-nav .nav-links a {
    padding: var(--eds_spacing_medium);
    padding-bottom: var(--eds_spacing_small);
  }
  .nav-links .icon-links {
    display: none;
  }
  .global-top-nav .nav-icon-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
}
