.app-overview h2 + .o-toolbar {
  margin-bottom: var(--space-default-gap);
}

.app-overview__info-tiles {
  display: grid;
  grid-gap: var(--space-default-gap);
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      8rem,
      calc(var(--layout-max-width) / 2 - var(--space-default-gap) / 2)
    )
  );
}

.app-overview__info-tile {
  background-color: var(--color-mood);
  min-height: 8rem;
  position: relative;
}

.app-overview__info-tile-image {
  color: var(--color-content-background);
  position: absolute;
  right: 0;
}

.app-overview__info-tile-head {
  background-color: var(--color-mood-darken);
  padding: var(--space-4) var(--space-default-gap);
  position: relative;
}

.app-overview__info-tile-body {
  padding: var(--space-4) var(--space-default-gap) var(--space-default-gap)
    var(--space-default-gap);
  position: relative;
}

.app-overview__info-tile-body > p:first-child {
  margin-top: 0;
}
