.check-input-span p {
  display: inline-block;
  color: var(--eds_text_static_icons__default);
  vertical-align: super;
}

.configure-application-github ol {
  counter-reset: list;
  padding: 0 var(--eds_spacing_medium);
  margin: 0;
}

.configure-application-github li {
  display: list-item;
  list-style: inherit;
  padding: var(--eds_spacing_small) 0;
}

.deploy-key {
  align-items: center;
  display: grid;
  gap: var(--eds_spacing_medium);
  margin-bottom: var(--eds_spacing_medium);
}

.deploy-key .code {
  grid-column: span 2;
}

.deploy-key .code__toolbar {
  margin-left: auto;
  margin-right: 0;
}

@media (prefers-color-scheme: dark) {
  .configure-application-github img {
    filter: invert(.1) grayscale(1);
  }

  .configure-application-github img:hover {
    filter: invert(0);
  }
}
