.check-input {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--eds_spacing_x_small);
  align-items: start;
  color: var(--eds_text_static_icons__default);
}
.check-input .label {
  padding-top: var(--eds_spacing_medium_small);
}

.deploy-key {
  margin-bottom: var(--eds_spacing_medium);
}

@media (prefers-color-scheme: dark) {
  .configure-application-github img {
    filter: invert(0.1) grayscale(1);
  }

  .configure-application-github img:hover {
    filter: invert(0);
  }
}

.regenerate-content {
  padding: var(--eds_spacing_medium);
  padding-top: 0;
  overflow: auto;
}
@media (min-width: 150rem) {
  .regenerate-content {
    margin: auto;
  }
}

.regenerate-options {
  margin-top: auto;
  margin-bottom: auto;
}
