.global-nav {
  align-items: center;
  background-color: var(--color-primary-1);
  display: flex;
}

.global-nav > * {
  margin-right: var(--space-6);
}

.global-nav a {
  align-items: center;
  color: var(--color-mood);
  display: flex;
  flex: 0 0 auto;
  font-weight: normal;
  white-space: nowrap;
}

.global-nav__icon {
  display: none;
  font-size: 1.25rem;
  opacity: var(--icon-opacity);
  padding-right: var(--space-4);
}

@media (min-width: 50rem) {
  .global-nav__icon {
    display: block;
  }
}
