services:
  web:
    image: node:24.13.0-alpine3.23
    container_name: radix-web_container
    read_only: true
    working_dir: /app
    command: [ "sh", "-c", "npm install --prefer-offline --no-audit --ignore-scripts && chown -R node:node node_modules && npm start" ]
    environment:
        - npm_config_proxy=${NPM_PROXY}
    volumes:
      - type: bind
        source: .
        target: /app
      - type: volume
        source: node-modules
        target: /app/node_modules
      - type: volume
        target: /root
        tmpfs: {}
    networks:
      - radix
    ports:
      - "3000:3000"
      - "9222:9222"

  proxy:
    image: nginxinc/nginx-unprivileged:1.29.5-alpine3.23
    container_name: radix-proxy_container
    read_only: true
    volumes:
      - type: bind
        source: ./proxy/server.dev.conf
        target: /default.conf
      - type: bind
        source: ./proxy/run_nginx.sh
        target: /run_nginx.sh
      - type: bind
        source: ./src/inject-env-template.js
        target: /usr/share/nginx/html/inject-env.js
      - type: volume
        target: /etc/nginx/conf.d
        tmpfs: {}
      - type: volume
        target: /tmp
        tmpfs: {}
    command: [ "/bin/sh", "-c", ". run_nginx.sh" ]
    networks:
      - radix
    ports:
      - "8080:8080"

volumes:
  node-modules:
    name: radix-web_node-modules

networks:
  radix:
    name: radix
