
.layout-app {
  position: relative;
}
.layout-app__sidebar, .layout-app__content {
  background-color: var(--eds_ui_background__default);
}
.layout-app__content {
  margin-left: var(--layout-app-navbar-width);
}
@media (min-width: 50rem) {
  .layout-app {
    grid-template-columns: auto 1fr;
  }
  .layout-app__content {
    margin-left: 0;
  }
}
