.config-list__header {
  display: flex;
  flex-direction: row;
}

.config-list__header div {
  display: flex;
  flex: 1;
  font-weight: bold;
  padding: 0.5rem;
}

.config-list__row {
  display: flex;
  flex-direction: row;
}

.config-list__row:nth-child(2n) {
  background-color: rgb(213, 234, 244);
}

.config-list__row__cell {
  display: flex;
  flex: 1;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.config-list__row__cell__source {
  font-size: 0.8rem;
}
