/**
 * btn
 * A wholesome, good-for-you, 100% clickable button.
 * Must be used with a subclass (e.g. btn--primary).
 */
.btn {
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  box-shadow: var(--shadow-level-1);
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.125;
  padding: .625em 1.25em;
  position: relative;
  text-decoration: none;
  transition:
    background-color var(--duration-quick) ease-in-out,
    box-shadow var(--duration-quick) ease-in-out,
    color var(--duration-quick) ease-in-out;
}

/**
 * btn--default
 * A normal button; the workhorse of all things clickable
 * @extends btn
 */
.btn--default {
  border-color: var(--color-interactive-block);
  color: var(--color-interactive-text);
}

.btn--default:hover {
  border-color: var(--color-interactive-text-focus);
  color: var(--color-interactive-text-focus);
}

/**
 * btn--primary
 * The primary button on a form, component, etc. There should be only one
 * primary button per component.
 * @extends btn
 */
.btn--primary {
  background-color: var(--color-interactive-primary);
  border-color: var(--color-interactive-primary);
  color: var(--color-interactive-block-text);
}

.btn--primary:hover {
  background-color: var(--color-interactive-primary-focus);
  border-color: var(--color-interactive-primary-focus);
  color: var(--color-interactive-primary-text-focus);
}

/**
 * btn--danger
 * A button that results in something you can't revert, deletes etc.
 * @extends btn
 */
.btn--danger {
  background-color: var(--color-danger);
}

.btn--danger,
.btn--danger:hover {
  color: var(--color-danger-text);
}


/**
 * btn--small
 * A smaller button, for less-important things
 * @mixin
 */
.btn--small {
  font-size: .75rem;
}

/**
 * btn--tiny
 * A tiny button, for very unimportant things
 * @mixin
 */
.btn--tiny {
  font-size: .75rem;
  line-height: 0;
  padding: .5em .75em;
  height: 1.25rem;
}

/* ---- States -------------------------------------------------------------- */

.btn:disabled,
.btn:disabled:hover {
  background-color: var(--color-interactive-disabled);
  border-style: dotted;
  border-color: var(--color-interactive-disabled-text);
  color: var(--color-interactive-disabled-text);
  cursor: not-allowed;
}
