.status-popover {
  display: inline-flex;

  & .status-popover-chip {
    display: flex;
    padding: 2px;
    grid-gap: 2px;
    white-space: nowrap;

    & span {
      margin-right: 2px;
    }

    & svg {
      width: 16px;
      height: 16px;
    }

    color: var(--eds_interactive_primary__resting);
    & svg {
      fill: var(--eds_interactive_primary__resting);
    }

    &.status-popover-chip-type__none {
      color: var(--eds_interactive_disabled__text);

      & svg {
        fill: var(--eds_interactive_disabled__text);
      }
    }

    &.status-popover-chip-type__success {
      background-color: var(--eds_interactive_success__highlight);
      color: var(--eds_interactive_success__text);

      & svg {
        fill: var(--eds_interactive_success__text);
      }
    }

    &.status-popover-chip-type__warning {
      background-color: var(--eds_interactive_warning__highlight);
      color: var(--eds_interactive_warning__text);

      & svg {
        fill: var(--eds_interactive_warning__text);
      }
    }

    &.status-popover-chip-type__danger {
      background-color: var(--eds_interactive_danger__highlight);
      color: var(--eds_interactive_danger__text);

      & svg {
        fill: var(--eds_interactive_danger__text);
      }
    }
  }
}
