.status-popover {
  display: inline-flex;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

.status-popover .status-popover__chip {
  padding: 0 var(--eds_spacing_xxx_small);
}
.status-popover .status-popover__chip svg {
  display: block;
  height: 100%;
  width: 100%;
  fill: var(--eds_interactive_primary__resting);
}

.status-popover .status-popover__chip.status-popover__chip-type__success {
  background-color: var(--eds_interactive_success__highlight);
}
.status-popover .status-popover__chip.status-popover__chip-type__success svg {
  fill: var(--eds_interactive_success__text);
}

.status-popover .status-popover__chip.status-popover__chip-type__warning {
  background-color: var(--eds_interactive_warning__highlight);
}
.status-popover .status-popover__chip.status-popover__chip-type__warning svg {
  fill: var(--eds_interactive_warning__text);
}

.status-popover .status-popover__chip.status-popover__chip-type__danger {
  background-color: var(--eds_interactive_danger__highlight);
}
.status-popover .status-popover__chip.status-popover__chip-type__danger svg {
  fill: var(--eds_interactive_danger__text);
}
