.middle-ellipsis {
  align-items: baseline;
  display: flex;
  overflow: hidden;
  white-space: pre;
}

.middle-ellipsis__start {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.middle-ellipsis__end {
  flex: 0 0 auto;
}
