.icon {
  fill: var(--eds_interactive_primary__resting);
}

.content {
  display: grid;
  gap: var(--eds_spacing_medium);
  grid-template-columns: repeat(auto-fill, 5rem);
}

.description {
  display: grid;
  gap: var(--eds_spacing_small);
  grid-auto-rows: max-content;
  grid-column-end: span 4;
  justify-items: start;
}

.time {
  display: grid;
  gap: var(--eds_spacing_small);
  grid-auto-rows: max-content;
  grid-template-columns: auto 1fr;
  grid-column-end: span 2;
}
