.replica-list-table > thead > tr > th:nth-child(2) {
  width: 15%;
}

.replica-list-table > thead > tr > th:nth-child(3) {
  width: 25%;
}

.replica-list-table > thead > tr > th:nth-child(4) {
  width: 30%;
}

.replica-list-table > thead > tr > th:nth-child(5) {
  width: 30%;
}

.replica-name-description {
  max-width: 30rem;
}
