.events_table .wrap {
  max-width: 20rem;
}
.stat_empty {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--eds_spacing_medium);
  align-items: center;
}
.deployments_table {
  width: 100%;
}
