.app-list {
  display: grid;
  gap: 4.5rem;
}
.app-list > div {
  display: grid;
  gap: var(--eds_spacing_medium);
  align-items: center;
}

.app-list > .empty-state {
  justify-content: center;
}

.app-list__list {
  display: grid;
  grid-gap: var(--eds_spacing_medium);
  grid-column: span 2;
}
.app-list--multi-header {
  display: grid;
  grid-template-columns: 1fr auto;
}

@media (min-width: 50rem) {
  .app-list__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 70rem) {
  .app-list__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
