.scrim-dialog {
  display: flex;
  flex-direction: column;
  background-color: var(--eds_ui_background__default);
  border-radius: var(--eds_shape_corners_border_radius);
  box-shadow: var(--eds_elevation_above_scrim);
  max-height: 85vh;
  min-width: fit-content;
  max-width: 95vw;
}

.scrim-dialog > .dialog-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: var(--eds_spacing_medium);
  padding-bottom: 0;
}

.scrim-dialog > .dialog-content {
  min-width: 15rem;
  overflow-y: auto;
  max-width: var(--layout-max-width);

  .dialog-content-text {
    padding: var(--eds_spacing_medium);
    padding-top: 0;
    max-width: 40rem;
  }
}
