@media (min-width: 250rem) {
  .payload-content {
    width: 128rem;
    margin: auto;
    padding: var(--eds_spacing_medium);
    padding-top: 0;
  }
}
.payload-content {
  padding: var(--eds_spacing_medium);
  padding-top: 0;
  overflow: auto;
  min-width: 50vw;
  grid-template-columns: 100%;
  max-width: var(--layout-max-width);
}
