/* TODO: better notifications */

.page-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-root > .o-layout-base {
  overflow: auto;
}

.page-root__notifications {
  flex: 1 0 auto;
}

.page-root__notifications > * {
  padding: var(--space-4) var(--space-default-gap);
}

.page-root__alpha {
  background-color: var(--color-danger);
  color: var(--color-danger-text);
}
