/* TODO: better notifications */

.page-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-root > .page-root-layout-base {
  overflow: auto;
}

.page-root-layout-base {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
}
