.code .code__toolbar {
  padding: 16px 0;
}
.code .code__card {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #000000;
}

@media (min-width: 50rem) {
  .code .code__card {
    width: 95%;
  }
}
