.code__toolbar {
  padding: 16px 0;
}
.step-log .code__toolbar {
  padding: 0;
}
.code.dialog {
  width: 100%;
  max-width: inherit;
  margin: 0;
  padding: 0;
}
.code #eds-dialog-customcontent {
  height: 35rem;
  margin: 0;
}
.code__card {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #000000;
  box-shadow: var(--eds_elevation_raised);
  white-space: pre-wrap;
  max-height: 32rem;
  overflow-y: auto;
}
.code #eds-dialog-customcontent .code__card {
  box-shadow: none;
  padding: 0;
}
.code hr {
  display: none;
}

@media (min-width: 50rem) {
  .code .code__card {
    width: 95%;
  }
}
