.global-courtesy-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  line-height: 1;
  margin-left: var(--space-default-gap);
}

.global-courtesy-nav > a {
  color: inherit;
  font-size: .825rem;
  font-weight: normal;
  margin-right: var(--space-default-gap);
  padding: var(--space-4) 0;
}
