.app-list-item {
  animation: animate-appear var(--duration-slow) 1;
  background-color: var(--color-bright);
  border-radius: var(--space-3);
  color: var(--color-text);
  opacity: 1;
  overflow: hidden;
  position: relative;
  --placeholder-anim-duration: calc(var(--duration-slow) * 2);
}

.app-list-item__area {
  align-items: center;
  border-bottom: var(--space-3) solid transparent;
  color: var(--color-text);
  display: grid;
  font-weight: normal;
  text-decoration: none;
  grid-template-columns: 4rem auto min-content;
  grid-gap: var(--space-6);
  grid-template-areas: 'app-icon app-details app-operation';
  height: 100%;
  line-height: 1.3rem;
  padding: var(--space-default-gap) var(--space-default-gap)
    calc(var(--space-default-gap) - var(--space-3)) var(--space-default-gap);
  transition: border-color var(--duration-quick);
}

.app-list-item__area:hover,
.app-list-item__area:focus {
  border-bottom-color: var(--color-interactive-block-focus);
  color: var(--color-text);
  text-decoration: none;
}

.app-list-item__area-icon {
  grid-area: app-icon;
}

.app-list-item__area-name {
  color: var(--color-primary-3);
  font-weight: bold;
  grid-area: app-name;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-list-item__area-name + div {
  margin-top: var(--space-4);
}

.app-list-item__area-details {
  grid-area: app-details;
  overflow: hidden;
}

.app-list-item__area-git {
  color: hsl(0, 0%, 62%);
}

.status-badge.warn {
  color: var(--eds_interactive_warning__text);
  background-color: var(--eds_interactive_warning__highlight);
}

.status-badge.warn svg {
  fill: var(--eds_interactive_warning__text);
}

.status-badge.warn:hover {
  color: var(--eds_interactive_warning__hover);
}

.status-badge.warn:hover svg {
  fill: var(--eds_interactive_warning__hover);
}

.app-list-item--failed .status-badge {
  border: 1px solid transparent;
  color: var(--eds_interactive_danger__text);
  background-color: var(--eds_interactive_danger__highlight);
}

.app-list-item--failed .status-badge svg {
  fill: var(--eds_interactive_danger__text);
}

.app-list-item--failed .status-badge:hover {
  border: 1px solid transparent;
  color: var(--eds_interactive_danger__hover);
}

.app-list-item--failed .status-badge:hover svg {
  fill: var(--eds_interactive_danger__hover);
}

/*
  1) Adjust placement to take border-bottom height into account
*/

@media (prefers-color-scheme: dark) {
  .app-list-item--building::after {
    filter: invert(1);
  }
}

@keyframes app-list-item-animate-placeholder {
  0% {
    transition: none;
  }
  50% {
    background-color: var(--eds_interactive_pressed_overlay_dark);
  }
  100% {
    transition: none;
  }
}

.app-list-item--placeholder {
  animation: none;
  opacity: 1;
}

.app-list-item--placeholder .app-list-item__area-icon {
  animation-duration: var(--placeholder-anim-duration);
  animation-iteration-count: infinite;
  animation-name: app-list-item-animate-placeholder;
  animation-timing-function: linear;
  background-color: var(--eds_interactive_pressed_overlay_light);
}

.app-list-item--placeholder .app-list-item__area-icon .app-badge {
  visibility: hidden;
}

.app-list-item--placeholder .app-list-item__area-name {
  animation-duration: var(--placeholder-anim-duration);
  animation-iteration-count: infinite;
  animation-name: app-list-item-animate-placeholder;
  animation-timing-function: linear;
  background-color: var(--eds_interactive_pressed_overlay_light);
  height: 1rem;
}

.app-list-item--placeholder .app-list-item__area:hover,
.app-list-item--placeholder .app-list-item__area:focus {
  border-bottom-color: transparent;
}
