.app-list-item {
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: var(--eds_spacing_x_small);
  background-color: var(--eds_ui_background__default);
  text-decoration: none;
  animation: animate-appear var(--duration-slow) 1;
}
.app-list-item:hover {
  box-shadow: var(--eds_elevation_overlay);
}
.app-list-item--area {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--eds_spacing_medium_small);
  padding: var(--eds_spacing_medium);
}
.app-list-item--details {
  display: grid;
  grid-template-columns: 1fr auto;
}
.app-list-item--details-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app-list-item--details-title,
.app-list-item--details-favourite {
  height: 24px;
}
.app-list-item--details-favourite > button {
  overflow: hidden;
  height: unset;
  width: unset;
}

.app-list-status {
  color: grey;
}

.app-list-status--last-job {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 4px;
}

.app-list-item--placeholder {
  animation: none;
}
.app-list-item--placeholder:hover {
  box-shadow: none;
}
.app-list-item--placeholder .app-list-item--area-icon > *,
.app-list-item--placeholder .app-list-item--area-details > *,
.app-list-item--placeholder .app-list-item--details-favourite > * {
  display: none;
}
.app-list-item--placeholder .app-list-item--area-icon {
  height: 40px;
  width: 40px;
}
.app-list-item--placeholder .app-list-item--area-details {
  height: 1rem;
}
.app-list-item--placeholder .app-list-item--area-icon,
.app-list-item--placeholder .app-list-item--area-details {
  animation-duration: calc(var(--duration-slow) * 2);
  animation-iteration-count: infinite;
  animation-name: app-list-item-animate-placeholder;
  animation-timing-function: linear;
}

@keyframes app-list-item-animate-placeholder {
  0% {
    transition: none;
  }
  50% {
    background-color: var(--eds_interactive_pressed_overlay_dark);
  }
  100% {
    transition: none;
  }
}
