.chart-percentage {
  width: fit-content;
  cursor: pointer;
  display: grid;
  grid-auto-flow: row;
  gap: var(--eds_spacing_small);
  justify-items: center;
}
.chart-percentage__ring {
  position: relative;
}
.chart-percentage__ring:hover {
  box-shadow: var(--eds_elevation_overlay);
  border-radius: 50%;
}
.chart-percentage__ring > svg {
  height: 128px;
  width: 128px;
}
.chart-percentage__ring > p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 150%;
  color: var(--eds_infographic_primary__moss_green_100);
  user-select: none;
}

.scrim-chart .dialog-container {
  max-width: 50rem;
  width: 80vw;
}
.scrim-chart .dialog-container .dialog-content {
  display: grid;
  gap: var(--eds_spacing_medium);
}
.chart-area {
  height: 80px;
}

.chart-timeline .status-code {
  font-family: var(--base-font-family);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.333em;
  text-align: left;
  vertical-align: middle;
  padding: 2px 8px;
  margin: 0px;
  border-radius: 100px;
}
.chart-timeline .status-code.SC_2xx {
  border: 1px solid transparent;
  color: var(--eds_interactive_primary__resting);
  background: var(--eds_interactive_primary__selected_highlight);
}
.chart-timeline .status-code.SC_4xx, .chart-timeline .status-code.SC_5xx {
  border: 1px solid var(--eds_interactive_danger__resting);
  background: var(--eds_ui_background__default);
  color: var(--eds_interactive_danger__resting);
}
.chart-timeline > div > div > div > svg > g > text {
  font-weight: normal;
}

.chart-tooltip {
  font-family: var(--base-font-family);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.500em;
  color: var(--eds_text_static_icons__default);
  display: grid;
  gap: var(--eds_spacing_small);
  width: max-content;
  padding: var(--eds_spacing_small);
}
