.app .global-nav {
  position: sticky;
  top: 0;
  z-index: var(--stacking-global-overlay);
}

.app__notice {
  background-color: var(--color-danger);
  color: var(--color-danger-text);
  padding: .5rem 0;
}
