.breadcrumb {
  font-size: 1.25rem;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb__link::after {
  color: black;
  content: '/';
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}
