.alert {
  border-radius: var(--space-3);
  border-left: var(--space-3) solid;
  display: inline-block;
  padding: var(--space-default-gap);
  padding-left: calc(var(--space-default-gap) - var(--space-3));
  position: relative;
}

.alert > svg {
  margin-right: var(--space-default-gap);
}

.alert--info {
  background-color: hsla(var(--hsl-primary-3), .33);
  border-color: var(--color-info);
  color: var(--color-info-dark);
}

.alert--info a {
  color: var(--color-info-dark);
  text-decoration: underline;
}

.alert--danger {
  background-color: hsla(var(--hsl-complement-4), .33);
  border-color: var(--color-danger);
  color: var(--color-danger-text);
}

.alert--warning {
  background-color: hsla(var(--hsl-secondary-2-4), .33);
  border-color: var(--color-warning);
  color: var(--color-warning-text);
}

.alert--has-actions {
  display: flex;
}

.alert__actions-area {
  flex-grow: 0;
  flex-shrink: 1;
}

.alert__actions-content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  grid-gap: var(--space-2);
}
