.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: .4rem;
}

.alert--info {
  background-color: var(--color-info);
  color: var(--color-info-text);
}

.alert--info a {
  color: var(--color-info-text);
  text-decoration: underline;
}


.alert--danger {
  background-color: var(--color-danger);
  color: var(--color-danger-text);
}

.alert--warning {
  background-color: var(--color-warning);
  color: var(--color-warning-text);
}
