.env-vars-form {
  overflow-x: auto;
}
.env-vars-form__title {
  display: grid;
  grid-template-columns: minmax(0%, 100%);
  grid-auto-flow: column;
  align-items: center;
}
.env-vars-form__title img {
  width: 24px;
}

.env-vars-table__header-name {
  width: 33%;
}
.env-vars-table__item-value {
  width: 20rem;
  min-width: 7.5rem;
  overflow-wrap: anywhere;
}
.env-vars-table__item-form-field {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
