.form-field {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  --form-field--bool-size: 1rem;
}

.icon-with-label {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.section__heading_with_buttons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
}

.horizontal-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.env-vars-list {
  overflow-x: auto;
}
