div.create-app-form-card {
  grid-template-columns: auto 1fr;
  grid-gap: 0;
  padding: 8px;
  margin-bottom: 16px;
}

.create-app-form-card svg {
  margin: auto 8px;
  margin-top: 8px;
}

.create-app-form-card div {
  margin: 8px;
}

.create-app-form-card div p {
  margin: 0;
}

.create-app-form a {
  text-decoration: underline;
}

.create-app-form svg {
  fill: var(--eds_interactive_primary__resting);
}
