.survey-banner {
  align-items: center;
  background-color: var(--color-primary-3);
  color: var(--color-background);
  display: flex;
  justify-content: center;
  padding: var(--space-4) var(--space-7);
}

.survey-banner a {
  color: var(--color-bright);
  text-decoration: underline;
}

.survey-banner a:focus,
.survey-banner a:hover {
  background-color: var(--color-outline);
  border-radius: var(--space-4);

}

.survey-banner button {
  margin-left: var(--space-7);
}
