.auth-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.auth-wrapper--error {
  max-width: 95vw;
  width: 35rem;
}

.auth-wrapper_content {
  padding: var(--space-6);
}

.auth-wrapper_error {
  padding: 0 var(--space-6) 0 var(--space-6);
}
