a {
  color: var(--eds_interactive_primary__resting);
  text-decoration: underline;
}

a:hover {
  color: var(--eds_interactive_primary__hover);
}

a:focus {
  outline: none;
  text-decoration: underline;
}
