/* TODO: `a` should not set font-weight to bold */

a {
  color: var(--eds_interactive_primary__resting);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--eds_interactive_primary__hover);
}

a:focus {
  outline: none;
  text-decoration: underline;
}
