/* TODO: `a` should not set font-weight to bold */

a {
  color: var(--color-interactive-text);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(---color-interactive-text-focus);
}

a:focus {
  outline: none;
  text-decoration: underline;
}
