p {
  line-height: 1.75;
}
/* EDS design tokens: https://www.figma.com/file/0TbIXrrObWj80Cf7KucKYFL0/Design-Tokens?node-id=2%3A4 */
p.overline {
  font-family: Equinor;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
p.ingress {
  font-family: Equinor;
  font-size: 18px;
  font-weight: normal;
  line-height: 24;
  letter-spacing: 0px;
}
p.body_short {
  font-family: Equinor;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
p.caption {
  font-family: Equinor;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}
p.body_short_bold {
  font-family: Equinor;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
}
