code,
samp {
  display: inline-block;
  background-color: var(--eds_interactive_text_highlight);
  border-radius: var(--eds_spacing_x_small);
  color: var(--eds_interactive_secondary__resting);
  font-family: var(--monospace-font-family);
  padding: var(--eds_spacing_x_small);
  margin: var(--eds_spacing_x_small) 0;
}
