*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--base-font-family);
  text-decoration-skip: ink;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

:disabled {
  color: var(--color-disabled);
  cursor: auto;
}
