.o-key-values {
  display: grid;
  grid-gap: var(--eds_spacing_medium_small);
  grid-template-areas: "key value";
  grid-template-columns: auto 1fr;
}

.o-key-values > dt {
  grid-area: key;
  grid-row: auto;
}

.o-key-values > dd {
  grid-area: value;
  grid-row: auto;
  margin: 0;
}
