.o-action-bar {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: var(--space-default-gap);
  padding-top: var(--space-default-gap);
}

.o-action-bar > * {
  margin-left: var(--space-default-gap);
}

.o-action-bar > :first-child {
  margin-left: 0;
}
