/* Parent */
.accordion > div {
  border: 2px solid var(--eds_text_static_icons_dark__secondary);
  border-radius: 4px;
}

/* Parent [elevated] */
.accordion.elevated > div {
  border: 1px solid transparent;
  box-shadow: var(--eds_elevation_raised);
  border-radius: 4px;
}

/* Children: role=region */
.accordion > div > div[role=region] {
  min-height: unset;
}

/* Children: borders */
.accordion > div > *,
.accordion > div > h2 > * {
  border-style: none;
}

/* Header child: chevron, when last */
.accordion > div > h2 > button > svg:last-child {
  margin-left: auto;
}
