/* @deprecated */

.o-inline-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
}

.o-inline-list > li {
  overflow: hidden;
}

.o-inline-list--spacing > li {
  margin-right: 0.5em;
}

.o-inline-list--spacing > li:last-child {
  margin-right: 0;
}
