.o-layout-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: var(--space-7);
}

.o-layout-columns > * > .o-heading-section:first-child {
  margin-top: 0;
}
