.o-body-text {
  line-height: 1.375;
}

.o-body-text ol,
.o-body-text ul {
  counter-reset: list;
  margin: 1rem 0;
  position: relative;
}

.o-body-text ol {
  counter-reset: list;
  padding: 0 var(--eds_spacing_medium);
}

.o-body-text li {
  display: list-item;
  list-style: inherit;
  padding: var(--eds_spacing_small) 0;
}

.o-body-text img {
  box-sizing: content-box;
  display: block;
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  .o-body-text img {
    filter: invert(.1);
    transition: filter var(--duration-quick);
  }

  .o-body-text img:hover {
    filter: invert(0);
  }
}

@media (min-width: 50rem) {
  .o-body-text img {
    max-width: calc(80% - 4rem - 2px);
  }
}
