.o-heading-page {
  font-family: var(--heading-font-family);
  font-feature-settings: 'ss01';
  font-size: 1.5rem;
  font-weight: bold;
}

.o-heading-section {
  border-top: 1px solid var(--color-outline);
  font-family: var(--heading-font-family);
  font-size: 1.25rem;
  font-weight: bold;
  margin: var(--space-7) 0 var(--space-5) 0;
  padding-top: var(--space-6);
}

.o-heading--first {
  margin-top: 0;
}

.o-heading--lean {
  margin: 0;
}
