.grid {
  display: grid;
}
.grid--gap-small {
  gap: var(--eds_spacing_small);
}
.grid--gap-medium {
  gap: var(--eds_spacing_medium);
}
.grid--gap-x-large {
  gap: var(--eds_spacing_x_large);
}
.grid--table-overflow {
  display: grid;
  grid-auto-columns: minmax(max-content, auto);
  overflow-x: auto;
}

.grid--component-overview > .alert {
  display: block;
}
.grid--component-overview > div > div {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--eds_spacing_medium);
}
.grid--component-overview .body_short ul {
  padding: var(--eds_spacing_small) 0;
}
.grid--component-overview .o-indent-list {
  list-style: square;
  margin-left: var(--eds_spacing_xx_small);
}

@media (min-width: 50rem) {
  .grid--component-overview > div {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--component-overview > .alert {
    width: 35rem;
  }
}
