.o-layout-single {
  margin: 0 auto;
  max-width: var(--layout-max-width);
  padding: 0 var(--space-default-gap);
  width: 100%;
}

.o-layout-single__head {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: var(--eds_spacing_medium) 0;
}

.o-layout-single__content {
  padding-bottom: var(--space-6);
}
