.o-heading-page {
  font-family: var(--heading-font-family);
  font-feature-settings: 'ss01';
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}

.o-heading-page-button {
  float: right;
}

.o-heading--lean {
  border-top-width: 0;
  margin: 0;
  padding-top: var(--space-2);
}

.action--justify-end {
  justify-self: end;
}

