.o-table {
  border-collapse: collapse;
  width: 100%;
}

.o-table > tbody > tr > td,
.o-table > thead > tr > th {
  padding: var(--space-default-gap);
}

.o-table > thead > tr > th {
  border-bottom: var(--space-1) solid var(--color-outline);
  font-weight: bold;
  text-align: left;
}

.o-table > tbody > tr:nth-child(2n) > td {
  background-color: hsla(var(--hsl-dark), .025);
}

.o-table > tbody > tr > td > * {
  margin: 0;
}

.o-table pre {
  white-space: pre-wrap;
}

td.fitwidth {
  width: 1px;
}

td.padding-right-0 {
  padding-right: 0;
}

tr.border-bottom-transparent > td,
td.border-bottom-transparent {
  border-bottom-color: transparent;
}
