.o-indent-list > li {
  display: list-item;
  list-style: inherit;
  margin: var(--eds_spacing_small);
  margin-left: var(--eds_spacing_medium);
}

@media (prefers-color-scheme: dark) {
  .o-indent-list > li::before {
    filter: invert(1);
  }
}
