/* --- All-content container ------------------------------------------------ */

.o-layout-container {
  margin: auto;
  max-width: 64rem;
  padding: 0 1rem;
}

/* --- Page head ------------------------------------------------------------ */

.o-layout-page-head {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* --- Page content --------------------------------------------------------- */

.o-layout-page-content {
  padding-bottom: 1.5rem;
}

/* --- Equal-size columns --------------------------------------------------- */

.o-layout-columns {
  display: flex;
}

/* --- Toolbar -------------------------------------------------------------- */

.o-layout-toolbar {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

.o-layout-toolbar > * {
  margin-left: 1rem;
}

.o-layout-toolbar > :first-child {
  margin-left: 0;
}

/* --- Distribute spacing fullwidth ----------------------------------------- */

.o-layout-fullwidth {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
