.accordion {
  border: 2px solid var(--eds_text_static_icons_dark__secondary);
  border-radius: 4px;
}
.accordion > div {
  border: none;
  min-height: auto;
}
.accordion > div > h4, .accordion > div > p {
  color: inherit;
  flex: 1;
}
.accordion > div > svg {
  height: 24px;
  width: 24px;
  fill: var(--eds_interactive_primary__resting);
}
.accordion.elevated {
  border: 1px solid transparent;
  box-shadow: var(--eds_elevation_raised);
  overflow-x: auto;
}
