.o-layout-constrained {
  max-width: var(--layout-max-width);
  width: 100%;
  display: grid;
  grid-gap: var(--eds_spacing_x_large);
}
.o-layout-constrained main {
  display: grid;
  grid-gap: var(--eds_spacing_large);
}
