.o-button-link {
  background-color: transparent;
  color: var(--color-brand);
  display: inline;
  appearance: none;
  text-decoration: none;
}

.o-button-link:hover {
  color: var(--color-brand-active);
}

.o-button-link:focus {
  outline: none;
  text-decoration: underline;
}
