.grid {
  display: grid;
}
.grid--gap-x-small {
  gap: var(--eds_spacing_x_small);
}
.grid--gap-small {
  gap: var(--eds_spacing_small);
}
.grid--gap-medium {
  gap: var(--eds_spacing_medium);
}
.grid--gap-large {
  gap: var(--eds_spacing_large);
}
.grid--gap-x-large {
  gap: var(--eds_spacing_x_large);
}
.grid--align-center {
  align-items: center;
}
.grid--auto-columns {
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}
.grid--table-overflow {
  display: grid;
  grid-auto-columns: minmax(max-content, auto);
  overflow-x: auto;
}
.grid--overview-columns > div {
  grid-auto-rows: min-content;
}
.grid--overview-columns .o-indent-list {
  list-style: square;
  margin-left: var(--eds_spacing_small);
}
@media (min-width: 30rem) {
  .grid--overview-columns {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
