/* TODO: Better name */

.o-layout-main {
  display: grid;
  grid-auto-rows: auto 1fr;
  height: 100%;
}

.o-layout-main__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

@media (min-width: 50rem) {
  .o-layout-main__head {
    justify-content: space-between;
  }
}
