/* Parent */
.accordion > div {
  border: 1px solid var(--eds_ui_background__medium);
  border-radius: 2px;
}

/* Parent [elevated] */
.accordion.elevated > div {
  border: 1px solid transparent;
  box-shadow: var(--eds_elevation_raised);
  border-radius: 4px;
}

/* Children: borders */
.accordion > div > *,
.accordion > div > h2 > * {
  border-style: none;
}

/* Header child: chevron, when last */
.accordion > div > h2 > button > svg:last-child {
  margin-left: auto;
}
