.align-right {
  justify-content: flex-end;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.gap-top {
  margin-top: var(--space-7);
}

/* Adal.js gives us an occasional free iframe that messes up scrolling */
[id^="adal"] {
  border-width: 0;
  left: 0;
  top: 0;
}
