@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Kalam:700');

@font-face {
  font-family: Equinor;
  src: url(./fonts/Equinor-Light.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Equinor;
  src: url(./fonts/Equinor-LightItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Equinor;
  src: url(./fonts/Equinor-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Equinor;
  src: url(./fonts/Equinor-Italic.woff2) format('woff2');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Equinor;
  src: url(./fonts/Equinor-Medium.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: Equinor;
  src: url(./fonts/Equinor-MediumItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Equinor;
  src: url(./fonts/Equinor-Bold.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: Equinor;
  src: url(./fonts/Equinor-BoldItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/Roboto-Medium.ttf);
}

:root {
  --base-font-family: Equinor, Arial, sans-serif;
  --heading-font-family: Equinor, Arial, sans-serif;
  --monospace-font-family: Menlo, Consolas, Monaco, monospace;
  --base-line-height: 1.15;

  --duration-quick: 0.15s;
  --duration-slow: 1s;

  --stacking-global-modal: 3000;
  --stacking-global-overlay: 2000;
  --stacking-local-overlay: 1000;
  --stacking-local-base: 0;

  --space-1: 1px;
  --space-2: 0.125rem;
  --space-3: 0.25rem;
  --space-4: 0.5rem;
  --space-5: 1rem;
  --space-6: 1.5rem;
  --space-7: 2.5rem;

  --space-default-gap: var(--space-5);

  --shadow-level-1: 0 var(--space-2) var(--space-3) rgba(0, 0, 0, 0.05);
  --shadow-level-2: 0 var(--space-3) var(--space-4) rgba(0, 0, 0, 0.2);

  --icon-opacity: .75;

  --layout-header-height: 2.5rem;
  --layout-max-width: 64rem;
  --layout-max-width-single-col: calc(var(--layout-max-width) * 2/3);
  --layout-top-nav-height: 64px;
  --layout-app-navbar-width: 58px;

}

.cluster-type--playground:root {
  --heading-font-family: Kalam, Arial, cursive;
}
