:root {

  /* --- Palette ------------------------------------------------------------ */

  /* Palette URL: http://paletton.com/#uid=73x1g0kdHeX0+0T6r72lfmJu6xT */

  --color-primary-1: hsl(207, 25%, 24%);
  --color-primary-2: hsl(206, 11%, 13%);
  --color-primary-3: hsl(206, 45%, 32%);
  --color-primary-4: hsl(206, 79%, 37%);

  --color-secondary-1-1: hsl(283, 25%, 25%);
  --color-secondary-1-2: hsl(283, 10%, 13%);
  --color-secondary-1-3: hsl(284, 46%, 32%);
  --color-secondary-1-4: hsl(284, 82%, 37%);

  --color-secondary-2-1: hsl(65, 28%, 36%);
  --color-secondary-2-2: hsl(60, 11%, 19%);
  --color-secondary-2-3: hsl(64, 50%, 47%);
  --color-secondary-2-4: hsl(64, 98%, 52%);

  --color-complement-1: hsl(34, 27%, 37%);
  --color-complement-2: hsl(33, 11%, 20%);
  --color-complement-3: hsl(34, 50%, 47%);
  --color-complement-4: hsl(34, 100%, 53%);

  /* --- Palette extras ----------------------------------------------------- */

  --color-mood: hsl(206, 11%, 93%);
  --color-bright: hsl(206, 11%, 99%);
  --color-dark: hsl(0, 0%, 3%);

  /* --- Basic concepts ----------------------------------------------------- */

  --color-background: var(--color-mood);
  --color-content-background: var(--color-bright);
  --color-foreground: var(--color-dark);

  --color-text: var(--color-foreground);

  /* --- Basic notifications ------------------------------------------------ */

  --color-danger: var(--color-complement-4);
  --color-danger-dark: var(--color-complement-3);
  --color-danger-text: var(--color-primary-2);

  --color-warning: var(--color-secondary-2-4);
  --color-warning-dark: var(--color-secondary-2-3);
  --color-warning-text: var(--color-secondary-2-2);

  --color-info: var(--color-primary-3);
  --color-info-dark: var(--color-primary-1);
  --color-info-text: var(--color-bright);

  /* --- Interactivity ------------------------------------------------------ */

  --color-interactive-block: var(--color-secondary-1-3);
  --color-interactive-block-focus: var(--color-secondary-1-4);
  --color-interactive-block-text: var(--color-mood);
  --color-interactive-block-text-focus: var(--color-bright);

  --color-interactive-text: var(--color-secondary-1-4);
  --color-interactive-text-focus: var(--color-primary-4);




  /* --- Deprecated --------------------------------------------------------- */

  --color-brand: hsl(348, 100%, 54%);
  --color-brand-active: hsla(348, 100%, 54%, 0.8);

  --color-brand-contrast: hsl(206, 32%, 21%);
  --color-brand-contrast-active: hsla(148, 74%, 93%, 0.8);
  --color-brand-contrast-invert: hsl(148, 74%, 93%);

  --color-action: hsl(199, 58%, 90%);


  --color-control-outline: hsl(0, 0%, 87%);
  --color-disabled: hsla(210, 11%, 15%, 0.616);
  --color-disabled-background: hsl(0, 0%, 98%);

  --color-status-error: hsl(0, 100%, 58%);
  --color-status-running: hsl(212, 86%, 31%);
}
