:root {
  --color-background: #fff;
  --color-brand-active: rgba(255, 18 ,67, .8);
  --color-brand-contrast: #fff;
  --color-brand: rgb(255, 18 ,67);
  --color-control-outline: #ddd;
  --color-danger-subtle: #fff;
  --color-danger: #fff;
  --color-disabled: #fff;
  --color-highlight: #fff;
  --color-lowlight: #fff;
}
