@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

:root {
  --base-font-family: Helvetica, Arial, sans-serif;
  --heading-font-family: Equinor, 'Equinor Beta', Raleway, Arial, sans-serif;
  --monospace-font-family: Consolas, Monaco, monospace;

  --duration-quick: .15s;
  --duration-slow: 1s;

  --stacking-global-modal: 3000;
  --stacking-global-overlay: 2000;
  --stacking-local-overlay: 1000;
  --stacking-local-overlay: 0;
}
