@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

@font-face {
  font-family: Equinor;
  src: url(./fonts/Equinor-Medium.woff2) format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: Equinor;
  font-style: italic;
  font-weight: bold;
  src: url(./fonts/Equinor-MediumItalic.woff2) format('woff2');
}

:root {
  --base-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  --heading-font-family: Equinor, Arial, sans-serif;
  --monospace-font-family: Consolas, Monaco, monospace;

  --duration-quick: 0.15s;
  --duration-slow: 1s;

  --stacking-global-modal: 3000;
  --stacking-global-overlay: 2000;
  --stacking-local-overlay: 1000;
  --stacking-local-overlay: 0;

  --space-1: 1px;
  --space-2: 0.125rem;
  --space-3: 0.25rem;
  --space-4: 0.5rem;
  --space-5: 1rem;
  --space-6: 1.5rem;
  --space-7: 2.5rem;

  --space-default-gap: var(--space-5);

  --shadow-level-1: 0 var(--space-2) var(--space-3) rgba(0, 0, 0, 0.05);
}
