.page-create-application {
  align-items: start;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [minor] 1fr [major] 2fr;
}

.page-create-application > * {
  grid-column: minor / major-end;
}

.page-create-application > :first-child {
  border-bottom: 1px solid var(--color-mood-darken);
}

.create-app-dialog {
  display: flex;
  flex-direction: column;
  background-color: var(--eds_ui_background__default);
  border-radius: var(--eds_shape_corners_border_radius);
  box-shadow: var(--eds_elevation_above_scrim);
  max-height: 85vh;
  min-width: 15rem;
  max-width: 95vw;
}
.create-app-dialog > .dialog-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: var(--eds_spacing_medium);
  padding-bottom: 0;
}
.create-app-dialog > .dialog-content {
  overflow: auto;
}

.create-app-content {
  padding: var(--eds_spacing_medium);
}

@media (min-width: 50rem) {
  .page-create-application > * {
    grid-column: auto;
  }

  .page-create-application > :first-child {
    border-bottom: 0;
  }
}
