.page-create-application {
  align-items: start;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [minor] 1fr [major] 2fr;
}

.page-create-application > * {
  grid-column: minor / major-end;
}

.page-create-application > :first-child {
  border-bottom: 1px solid var(--color-mood-darken);
}

.create-app-content {
  padding: var(--eds_spacing_medium);
  padding-top: 0;
  overflow: auto;
  max-width: calc(50rem - 2rem);
}

@media (min-width: 50rem) {
  .page-create-application > * {
    grid-column: auto;
  }

  .page-create-application > :first-child {
    border-bottom: 0;
  }
}
