:not(a).commit-hash {
  color: var(--color-primary-1);
}

.commit-hash {
  color: var(--eds_interactive_primary__resting);
  text-decoration: none;
}

.commit-hash > svg {
  color: var(--eds_interactive_primary__resting);
  margin-left: .25em;
}
