.environments-summary {
  display: grid;
  grid-template-columns: repeat(auto-fill, 17rem);
  grid-gap: var(--eds_spacing_medium);
}
.env_card {
  width: 17rem;
  border-radius: var(--eds_spacing_x_small);
  box-shadow: var(--eds_elevation_raised);
}
.env_card .env_card_header {
  align-items: center;
  border-bottom: 2px solid var(--eds_ui_background__medium);
}
.env_card .env_card_header .header {
  display: grid;
  grid-template-columns: 1fr auto;
}
.env_card .env_card_header a {
  display: grid;
  padding: var(--eds_spacing_medium);
  color: var(--eds_text_static_icons__default);
  text-decoration: none;
}
.env_card .env_card_header .status-badge {
  margin: var(--eds_spacing_medium);
}
.env_card .env_card_content {
  display: grid;
  grid-gap: var(--eds_spacing_medium);
  padding: var(--eds_spacing_medium) var(--eds_spacing_small);
}
.env_card_content .deployment > span > span {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--eds_spacing_small);
  margin: 0;
}
.env_card_content .timestamp {
  color: var(--eds_text_static_icons__tertiary);
}
.env_card_content > p {
  padding: 0 var(--eds_spacing_medium);
}
.env_card_content .env_actions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--eds_spacing_small);
  padding: 0 var(--eds_spacing_medium);
}
