.environments-summary {
  display: grid;
  grid-template-columns: repeat(auto-fill, 17rem);
  grid-gap: var(--eds_spacing_medium);
}

.env_card {
  width: 17rem;
  border-radius: var(--eds_spacing_x_small);
  box-shadow: var(--eds_elevation_raised);
}

.env_card-header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.env_card-header > div {
  padding: var(--eds_spacing_medium_small);
  padding-bottom: var(--eds_spacing_x_small);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.env_card-header a {
  text-decoration: none;
}

.env_card_content {
  padding: 0 var(--eds_spacing_medium);
  margin-bottom: var(--eds_spacing_medium);
}

.env_card_tags {
  align-items: center;
}
.env_card_tags > p,
.env_card_tags > a {
  font-size: 0.85rem;
  line-height: 1.333em;
  font-weight: 500;
}

.env_card-indicator--warning {
  margin-bottom: 3px;
}
