.delete-app-content {
  min-width: 15rem;
  width: 95vw;
  margin: auto;
  padding: var(--eds_spacing_medium);
  padding-top: 0;
  overflow-y: auto;
}
@media (min-width: 30rem) {
  .delete-app-content {
    width: 25rem;
  }
}
