.page-conf__overview {
  display: grid;
  grid-gap: var(--eds_spacing_xx_large);
}
.page-conf__overview .overview_details {
  display: grid;
}

.overview_adgroups li {
  padding: var(--eds_spacing_small) 0;
}

.accordion {
  display: grid;
  grid-gap: var(--eds_spacing_small);
}

.accordion__item {
  border: 2px solid var(--eds_ui_background__medium);
  border-radius: 4px;
}

.accordion__item .accordion__header, .accordion__item .accordion__panel {
  border: none;
  min-height: auto;
}

.accordion__item .accordion__header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.accordion__item .accordion__header span {
  color: var(--eds_text_static_icons__default);
}

.accordion__item .accordion__header svg {
  height: 24px;
  width: 24px;
  fill: var(--eds_interactive_primary__resting);
}

.accordion__panel .accordion__content {
  position: relative;
  display: grid;
  grid-gap: var(--eds_spacing_medium);
}

.accordion__panel p {
  margin: 0;
}

.accordion__item .accordion__panel img {
  border: 1px solid var(--eds_ui_background__medium);
  box-sizing: border-box;
}

.accordion__item li button {
  height: auto;
  padding: var(--eds_spacing_x_small);
}

.o-action-bar .progress {
  padding: var(--eds_spacing_small);
}

.scrim .delete-app {
  background-color: var(--eds_ui_background__default);
  display: grid;
  grid-gap: var(--eds_spacing_medium);
  padding: var(--eds_spacing_medium);
  border-radius: var(--eds_spacing_x_small);
  width: 90vw;
}

.delete-app .header-actions {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.delete-app .container button {
  margin-top: var(--eds_spacing_medium);
}

@media (min-width: 20rem) {
  .scrim .delete-app {
    width: 18rem;
  }
}

@media (min-width: 50rem) {
  .page-conf__overview .overview_details {
    grid-template-columns: 1fr auto;
  }

  .scrim .delete-app {
    width: 25rem;
  }
}
