.jobs-list tr th,
.jobs-list tr td {
  padding: var(--eds_spacing_small);
}

.jobs-list__no-jobs-icon .fa-question-circle {
  color: var(--color-primary-4);
}

.job-summary__data-section {
  align-items: center;
  display: flex;
}

.job-summary__data-section a {
  color: var(--eds_text_static_icons__default);
  text-decoration: none;
}

.job-summary__id-section,
.job-summary__id-section span {
  color: var(--eds_interactive_primary__resting);
  text-decoration: none;
}

.job-summary__link:hover {
  color: var(--eds_interactive_primary__resting);
  text-decoration: underline;
}

:not(:last-child).job-summary__link::after {
  content: ",";
  margin-right: var(--eds_spacing_small);
}

.pipeline-name {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pipeline-name:hover {
  text-decoration: underline;
}
