.jobs-list tr th,
.jobs-list tr td {
  padding: var(--eds_spacing_small);
}

.jobs-list__no-jobs-icon .fa-question-circle {
  color: var(--color-primary-4);
}

.job-summary__data-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 12rem;
}

.job-summary__data-section a {
  color: var(--eds_interactive_primary__resting);
  text-decoration: underline;
}

.job-summary__id-cell {
  white-space: nowrap;
}

.job-summary__id-actions {
  display: inline-flex;
  vertical-align: middle;
  margin-left: var(--eds_spacing_x_small);
}

.job-summary__link:hover {
  color: var(--eds_interactive_primary__resting);
  text-decoration: underline;
}

:not(:last-child).job-summary__link::after {
  content: ",";
  margin-right: var(--eds_spacing_small);
}
