.deployments-list {
  overflow-x: auto;
}

.deployments-list .deployments-list-sort-icon {
  margin-left: auto;
  margin-right: 0;
}

.deployment-summary__link {
  color: var(--eds_text_static_icons__default);
  text-decoration: none;
}
.deployment-summary__link:hover {
  text-decoration: underline;
}
