.env__content {
  display: grid;
  grid-gap: var(--eds_spacing_medium);
}

.env__overview {
  display: grid;
}

.env__overview .body_short ul {
  padding: var(--eds_spacing_small) 0;
}

@media (min-width: 50rem) {
  .env__overview {
    grid-template-columns: repeat(2, 1fr);
  }
}
