.component__overview > .alert {
  display: block;
}
.component__overview > div > div {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--eds_spacing_medium);
}
.component__overview .body_short ul {
  padding: var(--eds_spacing_small) 0;
}
.component__overview .o-indent-list {
  list-style: square;
  margin-left: var(--eds_spacing_xx_small);
}

.replicas_table, .variables_table {
  width: 100%;
}

.secrets_list p {
  margin-top: var(--eds_spacing_medium);
}
.o-indent-list.secrets{
  width: fit-content;
}
.o-indent-list.secrets li {
  display: list-item;
  list-style: square;
  margin: var(--eds_spacing_medium) 0;
  margin-left: var(--eds_spacing_medium);
}
.o-indent-list.secrets li::marker {
  color: var(--eds_interactive_primary__resting);
}
.o-indent-list.secrets li a {
  vertical-align: bottom;
}
.o-indent-list.secrets li div {
  margin-left: var(--eds_spacing_medium);
  font-family: Equinor;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  float: right;
}
.env-var--header > * {
  display: inline-block;
}

@media (min-width: 50rem) {
  .component__overview > div {
    grid-template-columns: repeat(2, 1fr);
  }
  .component__overview > .alert {
    width: 35rem;
  }
}
