.oauth-service-form__title {
  display: grid;
  grid-template-columns: minmax(0%, 100%);
  grid-auto-flow: column;
  align-items: center;
}
.o-indent-list.secrets{
  width: fit-content;
}
.o-indent-list.secrets li {
  display: list-item;
  list-style: square;
  margin: var(--eds_spacing_medium) 0;
  margin-left: var(--eds_spacing_medium);
}
.o-indent-list.secrets li::marker {
  color: var(--eds_interactive_primary__resting);
}
.o-indent-list.secrets li a {
  vertical-align: bottom;
}
.o-indent-list.secrets li div {
  margin-left: var(--eds_spacing_medium);
  font-family: var(--base-font-family);
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  float: right;
}
