.content {
  max-width: 71rem;
  padding: var(--eds_spacing_medium);
  padding-top: 0;
  overflow: auto;
}

.contentEmpty {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--eds_spacing_medium);
  align-items: center;
}
