.step-log {
  display: grid;
  gap: var(--eds_spacing_medium);
  align-items: center;
  width: fit-content;
}
.step-log .code__toolbar {
  margin-left: auto;
}
.step-log .code {
  grid-column: span 2;
}
