.empty-state {
  align-items: center;
  background-color: var(--color-bright);
  display: flex;
  flex: 1 1 auto;
  padding: var(--space-7) 0;
}

.empty-state__illustration {
  color: var(--color-mood);
  flex: 0 0 6rem;
  margin-right: var(--space-7);
}

.empty-state__content h2 {
  color: var(--color-info);
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: var(--space-default-gap);
}

.empty-state__content > a {
  display: block;
  margin-top: var(--space-default-gap);
}

.empty-state__content > p {
  margin: var(--space-4) 0 0 0;
}
