.chip {
  background-color: var(--color-background);
  border: var(--space-1) solid transparent;
  border-radius: var(--space-7);
  display: inline-block;
  line-height: var(--base-line-height);
  max-width: 100%;
  padding: var(--space-3) var(--space-4);
  white-space: nowrap;
}

.chip a {
  font-weight: normal;
}

.chip--default {
  border-color: var(--color-outline);
}

.chip--info {
  background-color: var(--color-info);
  border-color: var(--color-info);
  color: var(--color-info-text);
}

.chip--danger {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
  color: var(--color-danger-text);
}

.chip--warning {
  background-color: var(--color-warning);
  border-color: var(--color-warning);
  color: var(--color-warning-text);
}

.chip--progress {
  background-color: var(--color-progress);
  border-color: var(--color-progress);
  color: var(--color-progress-text);
}
