.chip {
  background-color: var(--color-background);
  border: 1px solid var(--color-outline);
  border-radius: 50vw;
  display: inline-block;
  line-height: 1;
  max-width: 100%;
  padding: .25em .5em;
  white-space: nowrap;
}

.chip a {
  font-weight: normal;
}

.chip--danger {
  background-color: var(--color-danger);
  color: var(--color-danger-text);
}

.chip--warning {
  background-color: var(--color-warning);
  color: var(--color-warning-text);
}
