.page-jobs > .o-toolbar {
  margin-bottom: 1rem;
}

nav.pipeline-jobs__breadcrumbs {
  margin-bottom: var(--eds_spacing_xx_large);
}

.pipeline-jobs__btn.pipeline-jobs__btn-create {
  margin: var(--eds_spacing_small) 0;
}
