.page-jobs > .o-toolbar {
  margin-bottom: 1rem;
}

nav.pipeline-jobs__breadcrumbs {
  margin-bottom: var(--eds_spacing_xx_large);
}

a.pipeline-jobs__create-btn {
  margin: var(--eds_spacing_small) 0;
}
