.secret-table .secret-table__link {
  text-decoration: none;
}

.secret-table .secret-table__details {
  margin: 16px 0;
}

.secret-item-content {
  max-width: 71rem;
  padding: var(--eds_spacing_medium);
  padding-top: 0;
  overflow: auto;
}

.secret-item-content--empty {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--eds_spacing_medium);
  align-items: center;
}
