.pipeline-jobs-table tr th,
.pipeline-jobs-table tr td {
  padding: var(--eds_spacing_small);
}

.pipeline-jobs-table__id-cell {
  white-space: nowrap;
}

.pipeline-jobs-table__id-actions {
  display: inline-flex;
  vertical-align: middle;
  margin-left: var(--eds_spacing_x_small);
}

.pipeline-jobs-table__environments {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 12rem;
}

.pipeline-jobs-table__environment-link {
  color: var(--eds_interactive_primary__resting);
  text-decoration: underline;
}

:not(:last-child).pipeline-jobs-table__environment-link::after {
  content: ",";
  margin-right: var(--eds_spacing_small);
}
