.page-application__header-nav {
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  padding-left: 4rem;
}

.page-application__sidebar {
  background-color: var(--color-background);
  flex: 1 1 auto;
  padding: 8px;
}

.page-application__content {
  background-color: var(--color-bright);
  flex: 1 auto;
  padding: var(--space-7) var(--space-default-gap) var(--space-2) var(--space-default-gap);
}

.page-application__content .breadcrumb {
  margin-bottom: var(--space-7);
}

@media (min-width: 50rem) {
  .page-application__header-nav {
    padding-left: var(--space-7);
  }

  .page-application__content {
    padding: var(--space-7) var(--space-6) var(--space-default-gap) var(--space-7);
  }
}
