.layout-app__sidebar {
  position: absolute;
  z-index: 1;
  border-right: 2px solid var(--eds_ui_background__light);
  height: calc(100vh - var(--layout-top-nav-height));
  height: 100%;
}
.app-navbar.collapsed {
  padding: var(--eds_spacing_small);
}
.app-navbar.collapsed a {
  display: block;
}
.app-navbar.collapsed .active button {
  color: var(--eds_interactive_primary__hover);
}
.app-navbar a {
  text-decoration: none;
}
.app-navbar-collapse {
  padding: var(--eds_spacing_small);
  border-bottom: 2px solid var(--eds_ui_background__light);
}

.app-navbar__link {
  display: grid;
  grid-auto-flow: column;
  gap: 3.5rem;
  align-items: center;
  padding: var(--eds_spacing_medium);
}
.app-navbar__link p {
  color: var(--eds_text_static_icons__default);
}

.app-navbar__link:hover p {
  color: var(--eds_interactive_primary__hover);
}
.app-navbar__link:hover svg {
  fill: var(--eds_interactive_primary__hover);
}

.app-navbar__link--active p {
  color: var(--eds_interactive_primary__resting);
  font-weight: 700;
  letter-spacing: 0.006em;
}

.app-navbar__splash {
  position: relative;
}
.app-navbar__splash > .app-navbar__splash--icon {
  display: block;
  padding: var(--eds_spacing_medium_small);
  text-align: center;
  border-bottom: 2px solid var(--eds_ui_background__light);
}
.app-navbar__splash > .app-navbar__splash--button {
  position: absolute;
  top: var(--eds_spacing_medium_small);
  left: var(--eds_spacing_small);
}

@media (min-width: 50rem) {
  .layout-app__sidebar {
    position: relative;
    height: 100%;
  }
}
