.app-navbar#side-sheet {
  position: relative;
}

.app-navbar.collapsed a {
  display: block;
  padding: 8px;
}

.app-navbar__link {
  color: var(--eds_text_static_icons__default);
  display: grid;
  font-weight: normal;
  grid-template-columns: 3rem auto;
  padding: 12px;
  padding-right: 0;
}

.app-navbar__link.external {
  grid-template-columns: 3rem auto 2rem;
}

.app-navbar__link svg {
  fill: var(--eds_text_static_icons__default);
}

.app-navbar__link:hover {
  color: var(--eds_interactive_primary__hover);
}

.app-navbar__link:hover svg {
  fill: var(--eds_interactive_primary__hover);
}

.app-navbar__link:focus {
  text-decoration: none;
}

.app-navbar__link--active {
  color: var(--eds_interactive_primary__resting);
}
.app-navbar__link--active svg {
  fill: var(--eds_interactive_primary__resting);
}

.app-navbar__link--active:focus {
  outline: none;
}

.app-navbar__link--active:hover {
  color: var(--eds_interactive_primary__hover);
}

.app-navbar__section--splitter {
  border-bottom: var(--space-1) solid var(--color-outline);
  margin-bottom: var(--space-default-gap);
  padding-bottom: var(--space-default-gap);
}

.app-navbar__badge {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  padding: 0 var(--space-6) var(--space-default-gap) var(--space-6);
}

.app-navbar__badge:focus {
  text-decoration: none;
}

.app-navbar__badge > h1 {
  color: var(--color-primary-1);
  font-size: 1.5rem;
  margin-top: var(--eds_text_static_icons__default);
  padding: var(--space-3) var(--space-4);
  text-align: center;
}

.app-navbar__badge > h3 {
  color: var(--eds_text_static_icons__default);
}

.app-navbar__splash {
  background-image: var(--background-image-pop);
}
