.banner {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: var(--eds_spacing_small);
  padding: var(--eds_spacing_medium);
  padding-right: var(--eds_spacing_x_large);
  border-radius: var(--eds_spacing_x_small);
  border: 1px solid transparent;

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--eds_spacing_small);
    min-width: 0;
    margin-top: 2px; /* Aligns the content with the icon. Icon is 24 px and text is 20px */
  }

  .icon {
    flex-shrink: 0;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--eds_spacing_small);
    margin-top: var(--eds_spacing_x_small);
  }

  .closeButton {
    position: absolute;
    top: var(--eds_spacing_x_small);
    right: var(--eds_spacing_x_small);
  }

  /* Variant - Info */
  &.info {
    background-color: var(--temp-eds-2-color-info-2);
    border-color: var(--temp-eds-2-color-info-7);

    .icon {
      fill: var(--temp-eds-2-color-info-12);
    }
    .closeButton {
      color: var(--temp-eds-2-color-info-12);
    }
  }

  /* Variant - Warning */
  &.warning {
    background-color: var(--temp-eds-2-color-warning-2);
    border-color: var(--temp-eds-2-color-warning-7);

    .icon {
      fill: var(--temp-eds-2-color-warning-12);
    }
    .closeButton {
      color: var(--temp-eds-2-color-warning-12);
    }
  }
}
