.ad-groups {
  color: var(--eds_text_static_icons__tertiary);
}
.ad-groups > .label {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.333em;
  margin: 0 var(--eds_spacing_small);
  color: currentColor;
}
.ad-groups > .helpertext {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.333em;
  letter-spacing: 0.013rem;
  margin: var(--eds_spacing_small);
  color: currentColor;
}
.ad-groups .label.meta {
  letter-spacing: 0.013rem;
}
.radio-input {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
}
.radio-input .label {
  padding-top: var(--eds_spacing_small);
}
.radio-button {
  color: var(--eds_interactive_primary__resting);
}
