name: radix-web-console-pr
on:
  pull_request:
    branches:
    - master

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build docker image
      env:
        REF: ${{ github.sha }}
      run: docker build -t radix-web-console:${REF##*/} .

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
      - run: npm ci
      - run: CI=true TZ=Europe/Oslo npm run test:no-watch

  deps:
    name: Dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
      - run: npm ci
      - run: npm run deps

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
      - uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
      - run: npm ci
      - run: biome ci .
      - run: npm run lint-ts

  validate-radixconfig:
    name: Test RadixConfig
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env:
          - dev
          - c2
          - playground
          - platform
    steps:
      - name: 'Fake TOKEN FOR RADIX CLI'
        run: echo "APP_SERVICE_ACCOUNT_TOKEN=dummy" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: 'Validate'
        uses: equinor/radix-github-actions@v1
        with:
          args: validate radix-config --config-file radixconfig.${{matrix.env}}.yaml

  verify-code-generation:
    name: Verify Code Generation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Verify Code Generation
        run: |
          make verify-generate
