.component-list > thead .component-list-head__name {
  width: 25%;
}
.component-list > thead .component-list-head__status {
  width: 15%;
}
.component-list > thead .component-list-head__vulnerabilities {
  width: 30%;
}
.component-list > thead .component-list-head__replicas {
  width: 20%;
}
.component-list > thead .component-list-head__resources {
  width: 10%;
}
.component-list > tbody td {
  word-break: break-all;
}

.environment-overview__tags {
  align-items: center;
}

.component-replica__link-container {
  display: grid;
  margin: var(--eds_spacing_small) 0;
  grid-template-columns: repeat(2, min-content);
  column-gap: var(--eds_spacing_small);
}
.component-replica__link {
  white-space: nowrap;
  .status-tooltip {
    margin-right: 2px;
  }
}

.component-replica__link:not(:last-child)::after {
  content: ",";
}

.environment-alerting-content {
  padding: var(--eds_spacing_medium);
  padding-top: 0;
  overflow-y: auto;
}
@media (min-width: 20rem) {
  .environment-alerting-content {
    width: 18rem;
  }
}
@media (min-width: 50rem) {
  .environment-alerting-content {
    width: 28rem;
  }
}
