.component-replica__link {
  text-decoration: none;
}
.component-replica__link:not(:last-child)::after {
  content: ",";
  color: var(--eds_interactive_primary__resting);
}

.environment-alerting-content {
  padding: var(--eds_spacing_medium);
  padding-top: 0;
  overflow-y: auto;
}
@media (min-width: 20rem) {
  .environment-alerting-content {
    width: 18rem;
  }
}
@media (min-width: 50rem) {
  .environment-alerting-content {
    width: 28rem;
  }
}
