.envs-summary {
  display: grid;
  grid-gap: var(--space-default-gap);
  grid-template-columns: repeat(auto-fill, minmax(12rem, auto));
}

.envs-summary > li {
  padding-top: 100%;
  position: relative;
}

.envs-summary__env {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.envs-summary__env-title a {
  color: var(--color-bright);
  display: block;
  font-weight: bold;
  padding: var(--space-4) var(--space-default-gap);
  transition: color var(--duration-quick);
}

.envs-summary__env-body {
  background-color: var(--color-mood);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: var(--space-default-gap);
  position: relative;
}

.envs-summary__env-body::after {
  border: var(--space-3) solid transparent;
  border-top-width: 0;
  content: '';
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  transition: border-color var(--duration-quick);
  top: 0;
  width: 100%;
}

.envs-summary__env:hover .envs-summary__env-title a {
  color: var(--color-dark);
}

.envs-summary__env:hover .envs-summary__env-body::after {
  border-color: var(--color-outline);
}




.item-list > li {
  margin-bottom: var(--space-default-gap);
}

.item-list > li:last-child {
  margin-bottom: 0;
}


.job-summary {
  padding: var(--space-default-gap) var(--space-default-gap) var(--space-default-gap) var(--space-6);
  position: relative;
  transition: background-color var(--duration-quick);
}

.job-summary::before {
  background-color: var(--color-mood);
  content: '';
  bottom: var(--space-default-gap);
  left: 0;
  position: absolute;
  top: var(--space-default-gap);
  transition: all var(--duration-quick);
  width: var(--space-4);
}

.job-summary__link {
  color: hsla(var(--hsl-secondary-1-1), .4);
  font-size: .75rem;
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.job-summary__data {
  display: grid;
  grid-gap: var(--space-default-gap);
  grid-template-columns: repeat(11, minmax(auto, 1fr));
  max-width: 64rem;
}

.job-summary__data > li {
  grid-column-start: span 2;
}

.job-summary__data > li:nth-child(2) {
  grid-column-start: span 3;
}

.job-summary__data-section {
  align-items: center;
  display: flex;
}

.job-summary__data-list {
  display: flex;
  flex-direction: column;
}

.job-summary__icon {
  color: var(--color-dark);
  opacity: calc(var(--icon-opacity)/2);
  padding-right: var(--space-4);
}

.job-summary__status {
  border-radius: var(--space-7);
  padding: var(--space-2) var(--space-4);
}

.job-summary:hover {
  background-color: var(--color-mood);
}

.job-summary:hover::before {
  bottom: 0;
  top: 0;
}

.job-summary--succeeded::before {
  background-color: var(--color-info);
}

.job-summary--succeeded .job-summary__status {
  background-color: var(--color-info-dark);
  color: var(--color-info-text);
}

.job-summary--failed::before {
  background-color: var(--color-warning);
}

.job-summary--failed .job-summary__status {
  background-color: var(--color-warning-dark);
  color: var(--color-warning);
}
